.App {
  text-align: center;
  margin-top: 50px;
}

body{
  background-color: #0e5c78;
  color: aliceblue;
}

input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-inline: 2px;
  border-radius: 10px;
}

.details {
  margin-top: 20px;
}

.details-table {
  margin: 60px auto;
  width: 50%;
  border-collapse: collapse;
}

.details-table th, .details-table td {
  border: 1px solid #ddd;
  padding: 8px;
  /* margin: 10px; */
}

.fetchButton {
  margin-top: 10px;
}